*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

h1{
    align-items: center;
    display: flex;
    justify-content: center;
}

button{
    color: white;
    background: blue;
    border: none;
    padding: 3px;
    border-radius: 5px;
}

button:hover{
    color: blue;
    background: white;
    border: black;
    border-radius: 5px;
    padding: 3px;
    
}

.container{
    margin-top: 200px;
    margin-left: 450px;
    margin-right: 450px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 5px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    
    

}

.container .box{
    align-items: center;
    justify-content: space-around;
    padding: 50px;
}

.container .box .gmail{
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    color: red;
    background: lightblue;

}


.container .box .gmail input[type=text]{
    margin: 2px;
}